@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary-base: hsl(155, 100%, 60%);
  --color-primary-500: hsl(155, 100%, 70%);
  --color-primary-400: hsl(155, 100%, 85%);

  --color-secondary-base: hsl(191, 100%, 60%);
  --color-secondary-500: hsl(191, 100%, 70%);
  --color-secondary-400: hsl(191, 100%, 85%);
  
  --color-purple-base: hsl(249, 100%, 60%);
  --color-purple-500: hsl(249, 100%, 70%);
  --color-purple-400: hsl(249, 100%, 85%);

  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(0, 0%, 10%);
  --color-light-gray: hsl(0, 0%, 35%);
  --color-white: hsl(0, 0%, 100%);

  /* Font Size */

  /* Desktop Screen */
  --text-h1-desktop: 1.75em;
  --text-p-desktop: 1em;

  /* Mobile Screen */
  --text-h1-mobile: 2.5em;
  --text-p-mobile: 1.5em;

  /* Screen Sizes*/
  --1080p-screen: 1920px;
  --1440p-screen: 1440px;
  --1280p-screen: 1280px;
  --1024p-screen: 1024px;
  --640p-screen: 1024px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--color-gray);
  color: var(--color-white);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Grid Layout */

.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  min-width: 300px;
}


@media (min-width: 40em) {
  .layout {
    display: grid;
    grid-template-columns: 250px auto 60px;
  }
}

